* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fdfdfd;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


header {
  position: relative;
  z-index: 1000;
}

.disabled-link {
  pointer-events: none;   /* disables click */
  opacity: 0.5;           /* makes it look inactive */
  cursor: not-allowed;
  text-decoration: none;
}